services:
  db:
    image: mariadb:latest
    restart: always
    volumes:
      - db:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: bibliotheque
      MYSQL_ROOT_PASSWORD: password

volumes:
  db:
